/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 10px;
  border: 1px solid red;
}

.row {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
}

[class^=col-] {
  width: 100%;
  min-height: 50px;
  margin: 4px;
  background: rgba(255, 0, 255, 0.2);
}

@media screen and (min-width: 500px) {
  .col-1 {
    width: calc(8.3333333333% - 8px);
  }

  .col-2 {
    width: calc(16.6666666667% - 8px);
  }

  .col-3 {
    width: calc(25% - 8px);
  }

  .col-4 {
    width: calc(33.3333333333% - 8px);
  }

  .col-5 {
    width: calc(41.6666666667% - 8px);
  }

  .col-6 {
    width: calc(50% - 8px);
  }

  .col-7 {
    width: calc(58.3333333333% - 8px);
  }

  .col-8 {
    width: calc(66.6666666667% - 8px);
  }

  .col-9 {
    width: calc(75% - 8px);
  }

  .col-10 {
    width: calc(83.3333333333% - 8px);
  }

  .col-11 {
    width: calc(91.6666666667% - 8px);
  }

  .col-12 {
    width: calc(100% - 8px);
  }
}
* {
  box-sizing: border-box;
}

header {
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
}

.header_container {
  width: 1352px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1360px) {
  .header_container {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .header_container {
    width: 100%;
  }
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo_container a {
  text-decoration: none;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #08A6E4;
  padding-left: 10px;
}

.menu_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .menu_container {
    position: absolute;
    left: 0;
    top: 95px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    display: none;
  }
}

.menu_container div {
  padding: 28px;
  margin: 0 20px;
}

.menu_container div:hover {
  border-bottom: 4px solid #08A6E4;
}

.menu_container div a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 2px;
  color: #A5A5A5;
}

.menu_container div:hover a {
  color: black;
}

.hamburger_menu {
  height: 1px;
  padding: 30px;
  cursor: pointer;
}
@media screen and (min-width: 1360px) {
  .hamburger_menu {
    display: none;
  }
}
@media screen and (max-width: 1360px) {
  .hamburger_menu {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .hamburger_menu {
    display: block;
  }
}
.hamburger_menu .hamburger_line {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}

.hamburger_checkbox {
  display: none;
}

.hamburger_checkbox:checked ~ .menu_container {
  display: flex;
  align-items: flex-start;
}
.hamburger_checkbox:checked ~ .menu_container div {
  padding: 15px;
  border: none;
}
.hamburger_checkbox:checked ~ .hamburger_menu span:nth-of-type(1) {
  transform: rotate(45deg) translate(2px, 5px);
}
.hamburger_checkbox:checked ~ .hamburger_menu span:nth-of-type(2) {
  opacity: 0;
}
.hamburger_checkbox:checked ~ .hamburger_menu span:nth-of-type(3) {
  transform: rotate(-45deg) translate(2px, -5px);
}

main {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url("/assets/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 850px) {
  main {
    background-size: 200%;
    padding: 30px;
  }
}

.main_title {
  font-family: "Raleway", sans-serif;
  font-size: 49px;
  margin: 200px 0 0 0;
}

.main_description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 20px 0 38px 0;
  text-align: center;
}

.main_cta {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 22px 157px;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 850px) {
  .main_cta {
    padding: 22px 50px;
    width: 80vw;
  }
}

#stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats_title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  margin: 100px 15px;
  text-align: center;
}

.stats_container {
  width: 800px;
  display: flex;
  justify-content: space-around;
  margin: 0 0 100px 0;
}
@media screen and (max-width: 850px) {
  .stats_container {
    flex-direction: column;
  }
}

.stats_card {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stats_circle {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
}

.stats_img {
  position: absolute;
  left: 50%;
}

.stats_number {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 20px;
}

.stat_description {
  color: #A5A5A5;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

.stats_card:nth-child(1) .stats_circle {
  background-color: #FB3B64;
}

.stats_card:nth-child(2) .stats_circle {
  background-color: #08A6E4;
}

.stats_card:nth-child(3) .stats_circle {
  background-color: #55DFB4;
}

#benefits {
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefits_container {
  width: 1124px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 1360px) {
  .benefits_container {
    width: 100%;
  }
}

.benefits_container_block {
  margin-top: 100px;
  height: 370px;
  display: flex;
  justify-content: stretch;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
@media screen and (max-width: 1360px) {
  .benefits_container_block {
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: none;
  }
}
.benefits_container_block:last-of-type {
  margin-bottom: 100px;
}

.block1_left {
  background-color: #FFFFFF;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 35px;
}
@media screen and (max-width: 1360px) {
  .block1_left {
    width: 80%;
    height: 23em;
  }
}

.block1_right {
  background-color: #FFFFFF;
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}
@media screen and (max-width: 1360px) {
  .block1_right {
    width: 80%;
    padding: 0 0 100px 0;
    align-items: center;
  }
}

.benefits_title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}

.benefits_description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 10px 0;
}

.benefits_line {
  width: 70%;
  height: 4px;
  background-color: #FB3B64;
}

.laptop {
  width: 386px;
  height: 219px;
  margin: 0 0 40px 0;
  z-index: 1;
}

.red_box {
  width: 200px;
  height: 200px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  border-radius: 41px;
  background-color: #FB3B64;
  position: absolute;
  right: 10%;
  top: 20%;
  z-index: 0;
}

.block2_left {
  background-color: #FFFFFF;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 35px;
  position: relative;
}
@media screen and (max-width: 1360px) {
  .block2_left {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 0;
  }
}

.block2_right {
  background-color: #FFFFFF;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}
@media screen and (max-width: 1360px) {
  .block2_right {
    width: 80%;
    height: 25em;
  }
}

.iphone {
  width: 426px;
  height: 328px;
  z-index: 1;
}

.blue_circle {
  width: 320px;
  height: 320px;
  background-color: #07ACE6;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 0;
}

.block2_right .benefits_line {
  background-color: #08A6E4;
}

.benefits_container_block:nth-of-type(3) {
  border: none;
}

.block3_left {
  background-color: #FFFFFF;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 35px;
  border: 1px solid #E8E9ED;
}
@media screen and (max-width: 1360px) {
  .block3_left {
    width: 80%;
    height: 25em;
  }
}

.block3_left .benefits_line {
  background-color: #55DFB4;
}

.block3_right {
  margin: 0 auto 0 auto;
  background-color: #55DFB4;
  width: 37%;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1360px) {
  .block3_right {
    width: 80%;
    margin: 0 auto;
    height: 20em;
  }
}

.trumpet {
  width: 296px;
  height: 208px;
}

#prices {
  width: 100%;
  margin: 50px 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1360px) {
  #prices {
    margin: 50px 0 100px 0;
  }
}

.prices_title {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #000000;
  margin-bottom: 50px;
}

.prices_container {
  width: 1266px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1360px) {
  .prices_container {
    flex-direction: column;
    width: 100%;
  }
}

.prices_container_card {
  width: 372px;
  height: 461px;
  border: 1px solid #FB3B64;
  padding: 30px 0 80px 0;
  border-radius: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1360px) {
  .prices_container_card {
    margin-bottom: 100px;
    width: 80vw;
    padding: 0;
    height: 350px;
    flex-direction: row;
  }
}

.prices_container_card_left_side-mobile, .prices_container_card_right_side-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
}

.package {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.price {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 46px;
  color: #FB3B64;
}

.limited_offer {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  padding: 0 0 30px 0;
  font-weight: bold;
  color: #000000;
}

.begin_button {
  position: absolute;
  bottom: -25px;
  text-decoration: none;
  padding: 20px 50px;
  background-color: #FB3B64;
  border-radius: 23px;
  color: #FFFFFF;
}

.hdd::before,
.subdomain::before,
.emails::before,
.prices_container_card:nth-of-type(2) .license::before,
.prices_container_card:nth-of-type(3) .license::before,
.prices_container_card:nth-of-type(3) .support::before {
  content: " ";
  padding: 6px;
  margin: 5px;
  background-image: url("/assets/Ckechmark-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.prices_container_card:nth-of-type(1) .license::before,
.prices_container_card:nth-of-type(1) .support::before,
.prices_container_card:nth-of-type(2) .support::before {
  content: " ";
  padding: 6px;
  margin: 5px;
  background-image: url("/assets/Close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.prices_container_card:nth-of-type(2) {
  height: 500px;
  width: 405px;
  box-shadow: 5px 10px 27px #07ACE629;
  border: 1px solid #08A6E4;
  border-radius: 18px;
}
@media screen and (max-width: 1360px) {
  .prices_container_card:nth-of-type(2) {
    width: 90vw;
    height: 380px;
  }
}

.prices_container_card:nth-of-type(2) .price {
  color: #07ACE6;
}

.prices_container_card:nth-of-type(2) .begin_button {
  background-color: #07ACE6;
}

.calc {
  padding: 80px 0;
  background-color: #F7F7F7;
}
@media screen and (max-width: 1360px) {
  .calc {
    padding: 30px 15px;
  }
}
.calc h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}
.calc__columns {
  max-width: 865px;
  margin: 50px auto 0;
  display: flex;
}
@media screen and (max-width: 1360px) {
  .calc__columns {
    display: block;
  }
}
.calc__form {
  width: 50%;
  margin-right: 20px;
}
@media screen and (max-width: 1360px) {
  .calc__form {
    width: 100%;
    margin-right: 0;
  }
}
.calc__input input, .calc__select .select__input {
  color: #A5A5A5;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #08A6E4;
  padding: 11px 20px;
  line-height: 1em;
  font-size: 0.8125rem;
  box-shadow: 0 3px 6px rgba(7, 172, 230, 0.16);
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
.calc__input input::-moz-placeholder {
  color: #A5A5A5;
}
.calc__input input:-ms-input-placeholder {
  color: #A5A5A5;
}
.calc__input input::placeholder {
  color: #A5A5A5;
}
.calc__select {
  position: relative;
}
.calc__select .select__input {
  position: relative;
  height: 40px;
  vertical-align: middle;
  padding: 13px 20px;
  cursor: pointer;
}
.calc__select .select__input::after {
  content: "";
  background-image: url("./assets/Arrow Down.svg");
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 14px;
  top: 9px;
}
.calc__select .select__dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #FB3B64;
  overflow: hidden;
}
.calc__select .select__dropdown li {
  font-size: 13px;
  padding: 10px 20px;
  cursor: pointer;
}
.calc__select .select__dropdown li:hover {
  background-color: #F7F7F7;
}
.calc__select.open .select__input::after {
  transform: rotate(180deg);
}
.calc__select.open .select__dropdown {
  display: block;
}
.calc .form__checkbox .consent__text {
  padding-top: 4px;
}
.calc__summary {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1360px) {
  .calc__summary {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
.calc__summary .summary__total,
.calc__summary .list__item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 0.875rem;
  display: none;
}
.calc__summary .summary__total.open,
.calc__summary .list__item.open {
  display: flex;
}
.calc__summary .summary__total {
  width: 50%;
  align-self: flex-end;
  margin-top: 22px;
  padding: 8px 20px;
  background-color: #08A6E4;
}
.calc__summary .summary__total .total__price {
  font-size: 1.25rem;
  font-weight: 700;
}
.calc__summary .list__item {
  padding: 6px 20px;
  background-color: #55DFB4;
  margin-bottom: 8px;
}
.calc__summary .list__item .item__price {
  font-weight: 700;
  font-size: 1.125rem;
}

#contact {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media screen and (max-width: 850px) {
  #contact {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 10px;
  }
}

.contact_info {
  width: 440px;
}
@media screen and (max-width: 850px) {
  .contact_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

.contact_form {
  width: 440px;
}
@media screen and (max-width: 850px) {
  .contact_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 100%;
  }
}

.contact_info_title {
  font-size: 49px;
  font-family: "Raleway", sans-serif;
  margin: 30px 0;
}

.contact_info_description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.contact_info_details {
  margin: 20px 0;
}

.mail_adr, .phone_number {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #A5A5A5;
  margin: 0 5px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form_label {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #08A6E4;
  letter-spacing: 3px;
  font-weight: bold;
}

.form_field {
  border: none;
  border-bottom: 1px solid #A5A5A5;
}

.form_consent {
  display: flex;
}

.form_consent input {
  display: none;
}

.custom_checkbox + span {
  height: 1px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
}

.custom_checkbox:checked + span {
  background-image: url("/assets/Checkmark.svg");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.consent_text {
  color: #A5A5A5;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.send_button {
  align-self: flex-end;
  text-decoration: none;
  padding: 20px 100px;
  background-color: #08A6E4;
  color: #FFFFFF;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */
