:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;;
}

.header_container {
    width: 1352px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo_container {
    display: flex;
    align-items: center;

}

.logo_container a {
    text-decoration: none;
    font-size: 32px;
    font-family: var(--font-raleway);
    font-weight: normal;
    color: var(--color-primary);
}

.menu_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_container div {
    padding: 28px;
    margin: 0 20px;
}

.menu_container div:hover {
    border-bottom: 4px solid #08A6E4;
}

.menu_container div a {
    text-decoration: none;
    font-family: var(--font-open-sans);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--color-grey)
}

.menu_container div:hover a {
    color: black;
}

main {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin: 200px 0 0 0;
}

.main_description {
    font-family: var(--font-open-sans);
    font-size: 16px;
    margin: 20px 0 38px 0;
}

.main_cta {
    text-decoration: none;
    color: var(--color-white);
    padding: 22px 157px;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

#stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats_title {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin: 100px 0;
}

.stats_container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin: 0 0 100px 0;
}

.stats_card {
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stats_circle {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
}

.stats_img {
    position: absolute;
    left: 50%;
}

.stats_number {
    font-family: var(--font-raleway);
    font-weight: 800;
    font-size: 20px;
    margin: 20px;
}

.stat_description {
    color: var(--color-grey);
    font-family: var(--font-raleway);
    font-weight: normal;
}

.stats_card:nth-child(1) .stats_circle {
    background-color: var(--color-redish);
}

.stats_card:nth-child(2) .stats_circle {
    background-color: #08A6E4;
}

.stats_card:nth-child(3) .stats_circle {
    background-color: var(--color-green);
}

#benefits {
    width: 100%;
    height: 1395px;
    background-color: var(--color-light-grey) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.benefits_container {
    width: 1124px;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.benefits_container_block {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: stretch;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.block1_left {
    background-color: var(--color-white);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 35px;
}

.block1_right {
    background-color:var(--color-white);
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.benefits_title {
    font-family: var(--font-raleway);
    font-size: 36px;
}

.benefits_description {
    font-family: var(--font-open-sans);
    font-size: 16px;
}

.benefits_line {
    width: 327px;
    height: 4px;
    background-color: var(--color-redish) ;

}

.laptop {
    width: 386px;
    height: 219px;
    margin: 0 0 40px 0;
    z-index: 1;
}

.red_box {
    width: 200px;
    height: 200px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    background-color: var(--color-redish);
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: 0;
}


.block2_left {
    background-color: var(--color-white);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 35px;
    position: relative;
}

.block2_right {
    background-color:var(--color-white);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}

.iphone {
    width: 426px;
    height: 328px;
    z-index: 1;
}

.blue_circle {
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 0;
}

.block2_right .benefits_line {
    background-color: #08A6E4;
}

.benefits_container_block:nth-of-type(3) {
    border: none;
}


.block3_left {
    background-color: var(--color-white);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 35px;
    border: 1px solid #E8E9ED;
}

.block3_left .benefits_line {
    background-color: var(--color-green) ;
}


.block3_right {
    margin: 0 0 0 auto;
    background-color: var(--color-green);
    width: 37%;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trumpet {
    width: 296px;
    height: 208px;
}

#prices {
    width: 100%;
    height: 700px;
    background-color: var(--color-white) ;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.prices_title {
    text-align: center;
    margin: 100px 0 50px 0;
    font-size: 36px;
    font-family: var(--font-raleway);
    font-weight: 500;
    color: var(--color-black);

}

.prices_container {
    width: 1266px;
    height: 616px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prices_container_card {
    width: 372px;
    height: 461px;
    border: 1px solid #FB3B64;
    padding: 30px 0 80px 0 ;
    border-radius: 18px;
    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.package {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: bold;
}

.price {
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-size: 46px;
    color: var(--color-redish);
}

.limited_offer {
    font-family: var(--font-raleway);
    font-size: 12px;
    padding: 0 0 30px 0;
    font-weight: bold;
    color: var(--color-black);
}

.begin_button {
    position: absolute;
    bottom: -25px;
    text-decoration: none;
    padding: 20px 50px;
    background-color: var(--color-redish);
    border-radius: 23px;
    color: var(--color-white);
}

.hdd::before,
.subdomain::before,
.emails::before,
.prices_container_card:nth-of-type(2) .license::before,
.prices_container_card:nth-of-type(3) .license::before,
.prices_container_card:nth-of-type(3) .support::before {
    content: " ";
    padding: 6px;
    margin: 5px;
    background-image: url("../assets/Ckechmark-1.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.prices_container_card:nth-of-type(1) .license::before,
.prices_container_card:nth-of-type(1) .support::before,
.prices_container_card:nth-of-type(2) .support::before {
    content: " ";
    padding: 6px;
    margin: 5px;
    background-image: url("../assets/Close.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.prices_container_card:nth-of-type(2) {
    height: 500px;
    width: 405px;
    box-shadow: 5px 10px 27px #07ACE629;;
    border: 1px solid var(--color-primary);
    border-radius: 18px;
}

.prices_container_card:nth-of-type(2) .price {
    color: #07ACE6;
}

.prices_container_card:nth-of-type(2) .begin_button {
    background-color: #07ACE6;
}











