#benefits {
  width: 100%;
  height: 1395px;
  background-color: $color-light-grey ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefits_container {
  width: 1124px;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.benefits_container_block {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: stretch;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}

.block1_left {
  background-color: $color-white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 35px;
}

.block1_right {
  background-color:$color-white;
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.benefits_title {
  font-family: $font-raleway;
  font-size: 36px;
}

.benefits_description {
  font-family: $font-open-sans;
  font-size: 16px;
}

.benefits_line {
  width: 327px;
  height: 4px;
  background-color: $color-redish ;

}

.laptop {
  width: 386px;
  height: 219px;
  margin: 0 0 40px 0;
  z-index: 1;
}

.red_box {
  width: 200px;
  height: 200px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  border-radius: 41px;
  background-color: $color-redish;
  position: absolute;
  right: 10%;
  top: 20%;
  z-index: 0;
}


.block2_left {
  background-color: $color-white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 35px;
  position: relative;
}

.block2_right {
  background-color:$color-white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

.iphone {
  width: 426px;
  height: 328px;
  z-index: 1;
}

.blue_circle {
  width: 320px;
  height: 320px;
  background-color: #07ACE6;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 0;
}

.block2_right .benefits_line {
  background-color: #08A6E4;
}

.benefits_container_block:nth-of-type(3) {
  border: none;
}


.block3_left {
  background-color: $color-white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 35px;
  border: 1px solid #E8E9ED;
}

.block3_left .benefits_line {
  background-color: $color-green;
}


.block3_right {
  margin: 0 0 0 auto;
  background-color: $color-green;
  width: 37%;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trumpet {
  width: 296px;
  height: 208px;
}
