#prices {
  width: 100%;
  margin: 50px 0;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prices_title {
  font-size: 36px;
  font-family: $font-raleway;
  font-weight: 500;
  color: $color-black;
  margin-bottom: 50px;

}

.prices_container {
  width: 1266px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include tablet {
    flex-direction: column;
  }
}

.prices_container_card {
  width: 372px;
  height: 461px;
  border: 1px solid #FB3B64;
  padding: 30px 0 80px 0 ;
  border-radius: 18px;
  font-family: $font-open-sans;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  @include tablet {
    margin-bottom: 100px;
  }
}

.package {
  font-size: 20px;
  font-family: $font-raleway;
  font-weight: bold;
}

.price {
  font-family: $font-open-sans;
  font-weight: 300;
  font-size: 46px;
  color: $color-redish;
}

.limited_offer {
  font-family: $font-raleway;
  font-size: 12px;
  padding: 0 0 30px 0;
  font-weight: bold;
  color: $color-black;
}

.begin_button {
  position: absolute;
  bottom: -25px;
  text-decoration: none;
  padding: 20px 50px;
  background-color: $color-redish;
  border-radius: 23px;
  color: $color-white;
}

.hdd::before,
.subdomain::before,
.emails::before,
.prices_container_card:nth-of-type(2) .license::before,
.prices_container_card:nth-of-type(3) .license::before,
.prices_container_card:nth-of-type(3) .support::before {
  content: " ";
  padding: 6px;
  margin: 5px;
  background-image: url("/assets/Ckechmark-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.prices_container_card:nth-of-type(1) .license::before,
.prices_container_card:nth-of-type(1) .support::before,
.prices_container_card:nth-of-type(2) .support::before {
  content: " ";
  padding: 6px;
  margin: 5px;
  background-image: url("/assets/Close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.prices_container_card:nth-of-type(2) {
  height: 500px;
  width: 405px;
  box-shadow: 5px 10px 27px #07ACE629;;
  border: 1px solid $color-primary;
  border-radius: 18px;
}

.prices_container_card:nth-of-type(2) .price {
  color: #07ACE6;
}

.prices_container_card:nth-of-type(2) .begin_button {
  background-color: #07ACE6;
}